In [44]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from alpaca_trade_api.rest import REST, TimeFrame
import numpy as np

In [45]:
# Load .env enviroment variables
load_dotenv()

True

In [46]:
# Set alpaca key / code
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_code = os.getenv("ALPACA_CODE")

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_code,
    api_version = "v2"
)

In [47]:
#Connect API
api = REST(key_id=alpaca_api_key,secret_key=alpaca_code,base_url="https://paper-api.alpaca.markets")

In [48]:
#Create API data for each crypto

btc_df = api.get_crypto_bars("BTCUSD", TimeFrame.Day, "2020-06-01", "2022-06-01").df
eth_df = api.get_crypto_bars("ETHUSD", TimeFrame.Day, "2020-06-01", "2022-06-01").df

In [49]:
btc_df.head()

,exchange,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,,
2020-06-01 05:00:00+00:00,CBSE,10208.96,10237.60,10037.60,10092.78,9730.744027,36496,10121.703564
2020-06-01 05:00:00+00:00,FTXU,9568.50,10393.00,9515.00,10106.50,5.950700,34,9979.759012
2020-06-02 05:00:00+00:00,CBSE,10092.78,10185.61,9285.39,9522.46,20056.221550,98213,9676.834562
2020-06-02 05:00:00+00:00,FTXU,10133.00,10157.50,9329.50,9471.50,17.897900,101,9631.668316
2020-06-03 05:00:00+00:00,CBSE,9495.45,9695.00,9385.22,9668.07,9360.238306,62334,9564.719475

In [54]:
btcbars = btc_df.loc[btc_df['exchange'] == 'CBSE']

In [55]:
# Get Crypto Volume and Closing Price
btcbars = btcbars.loc[btcbars['exchange'] == 'CBSE']
btcbars.drop(columns = ['exchange', 'open', 'high', 'low', 'trade_count', 'vwap'], inplace=True)
btcbars = btcbars.rename(columns={
    "volume": "BTC_volume",
    "close": "BTC_close"
})
btcbars['timestamp'] = btcbars.index.date
btcbars = btcbars.set_index(btcbars['timestamp'])
btcbars.drop(columns = ['timestamp'], inplace=True)
btcbars

            BTC_close    BTC_volume
timestamp
2020-06-01   10092.78   9730.744027
2020-06-02    9522.46  20056.221550
2020-06-03    9668.07   9360.238306
2020-06-04    9783.71   1306.817508
2020-06-05    9613.21  10773.723860
...               ...           ...
2022-05-28   28918.74   6552.427482
2022-05-29   30305.77  10526.897216
2022-05-30   31674.61  24142.033983
2022-05-31   31538.51  20351.644984
2022-06-01   29789.89  27528.818154

[731 rows x 2 columns]

In [56]:
ethbars = eth_df.loc[eth_df['exchange'] == 'CBSE']

In [57]:
# Get ETH Volume and Closing Price
ethbars = ethbars.loc[ethbars['exchange'] == 'CBSE']
ethbars.drop(columns = ['exchange', 'open', 'high', 'low', 'trade_count', 'vwap'], inplace=True)
ethbars = ethbars.rename(columns={
    "volume": "ETH_volume",
    "close": "ETH_close"
})
ethbars['timestamp'] = ethbars.index.date
ethbars = ethbars.set_index(ethbars['timestamp'])
ethbars.drop(columns = ['timestamp'], inplace=True)

In [60]:
crypto_data = pd.concat([btcbars,ethbars], axis="columns", join="inner")
crypto_data

            BTC_close    BTC_volume  ETH_close     ETH_volume
timestamp
2020-06-01   10092.78   9730.744027     247.62   43250.692183
2020-06-02    9522.46  20056.221550     237.71  219785.361092
2020-06-03    9668.07   9360.238306     244.61   34252.337465
2020-06-04    9783.71   1306.817508     243.18  124378.672321
2020-06-05    9613.21  10773.723860     240.04   99145.650074
...               ...           ...        ...            ...
2022-05-28   28918.74   6552.427482    1773.17   93654.615643
2022-05-29   30305.77  10526.897216    1872.18  104841.061004
2022-05-30   31674.61  24142.033983    1982.69  222635.132339
2022-05-31   31538.51  20351.644984    1932.54  232242.888348
2022-06-01   29789.89  27528.818154    1814.74  270556.689710

[731 rows x 4 columns]